# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entorno virtual
.venv/
venv/
env/
ENV/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos específicos del proyecto
*.onnx
*.pt
